/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Body */
body {
  background: linear-gradient(135deg, #dcdde1, #f5f6fa);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
